<!DOCTYPE html>
<html>
<head>
	<title>Admin Dashboard</title>

	<link rel="stylesheet" href="canvasStyle.css">
</head>
	
	<body onload="loadUserID()">
		<div class="header">
			<h2>Admin Dashboard</h2>
			<hr>
		</div>
	
		<div class="flex-container">	
			<div id="userSummary">

				<h3>User Summary</h3>			

					<table id="tblAssignments" border =solid>
						<thead>
							<tr>
								<th>Number of Active Students</th>
								<th>Number of Active Teachers</th>
								<th>Number of Courses</th>

							</tr>
						</thead>
						<tbody>
							<tr>
								<td></td>
								<td></td>
								<td></td>
						</tbody>
					</table>
			</div>

			<div id="adminLinks">
				<br>
				<a href="createCourse.html">Create Course</a><br>
				<a href="login.html">Log Out</a><br>
			</div>

			<div id="allUsers">

				<h3>All Users</h3>			

					<table id="tblAssignments" border =solid>
						<thead>
							<tr>
								<th>First Name</th>
								<th>Last Name</th>
								<th>Email</th>
								<th>Account Type</th>
								<th>Active Status</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td>			
									<button onclick="activateUser()">Activate/Deactivate User</button><br>
									<a href="addToCourse.html">Add to Course</a><br>
								</td>
							</tr>
						</tbody>
					</table>
			</div>

			<div id="adminLinks">
				<br>
				<a href="createCourse.html">Create Course</a><br>
				<a href="login.html">Log Out</a><br>
			</div>
		</div>

		<script>

			function loadUserID() {
				var userID = sessionStorage.getItem("userID")
				console.log(userID)
			}

			function activateUser() {
				return
			}

			// need to add search and filter functions

		</script>

	</body>
</html>