<!DOCTYPE html>
<html>
<head>
	<title>Courses</title>

	<link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='canvasStyle.css')}}" />
</head>
	
	<body onload="loadUserID()">

		<div class="header">
			<h2>Courses</h2>
			<hr>
		</div>

		<div class="flex-container">			
			<div id="courses">			

					<table id="tblCourses" border =solid>
						<thead>
							<tr>
								{% for header in headings %}
								<th>{{ header }}</th>
								{% endfor %}
							</tr>
						</thead>
						<tbody>
							{% for course in courses %}
							<tr>
								<td>{{ course.courseid }}</td>
								<td>{{ course.coursename }}</td>
								<td>{{ course.coursedescription }}</td>
								<td>{{ course.coursecapacity }}</td>
								<td>{{ course.professor }}</td>
								<td>
									<a href="{{ url_for('announcements',courseid=course.courseid) }}">Announcements</a><br>
									<a href="{{ url_for('assignments', courseid=course.courseid) }}">Assignments</a><br>
									<a href="{{ url_for('grades', courseid=course.courseid) }}">Grades</a><br>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
			</div>

			<div id="accountLinks">
				<br>
				<a href="{{ url_for('createCourse') }}">Create New Course (only visible for Admins)</a><br>
				<a href="{{ url_for('tempDash') }}"> Dashboard </a><br>
				<a href="{{ url_for('auth.logout') }}">Log Out</a><br>
			</div>
		</div>

		<script>

			function loadUserID() {
				var userID = sessionStorage.getItem("userID")
				console.log(userID)
			}

		</script>

	</body>
</html>