<!DOCTYPE html>
<html>
<head>
	<title>Create Announcement</title>

	<link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='canvasStyle.css')}}" />
</head>
	
	<body onload="loadUserID()">
		<div class="header">
			<h2>Create Announcement</h2>
			<hr>
		</div>

		<div class="flex-container">
			<div id="createAnnouncementForm">
				<form method="POST">
					{{ form.announcement.label }}
					<br>
					{{ form.announcement(cols=30, rows=5) }}
					<br>
					<br>
					<div style="display: block" id="submit button">
					{{ form.hidden_tag() }}
					{{ form.submit() }}
					</div>
			</div>
			<a href="{{ url_for('tempDash') }}"> Dashboard </a><br>
			<a href="{{ url_for('auth.logout') }}">Log Out</a><br>
		</div>

		<script>

			function loadUserID() {
				var userID = sessionStorage.getItem("userID")
				
				console.log(userID)
				
			}


		</script>

	</body>
</html>