<!DOCTYPE html>
<html>
<head>
	<title>Create Course</title>

	<link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='canvasStyle.css')}}" />

</head>
	
	<body onload="loadUserID()">
		<div class="header">

			<h2>Create Course</h2>
			<hr>
		</div>

		<div class="flex-container">
			<div id="createAccountForm">
				<form action="http://uchicago.edu" method="GET">
					<label for="courseName"><b>Course Name:</b></label>
					<input type="text" id="courseName" name="courseName"><br>

					<label for="courseDescription"><b>Course Description:</b></label>
					<input type="text" id="courseDescription" name="courseDescription"><br>

					<label for="courseCapacity"><b>Course Capacity:</b></label>
					<input type="text" id="courseCapacity" name="courseCapacity"><br>

					<label for="courseProfessor"><b>Course Professor (change to dropdown):</b></label>
					<input type="text" id="courseProfessor" name="courseProfessor"><br>

				</form>
			</div>

				
			<div id="newCourseLink">
				<br><button onclick="createCourse()">Create Course (only visible for admins)</button><br><br>
			</div>

			<a href="{{ url_for('login') }}">Log Out</a><br>
		</div>

		<script>

			function loadUserID() {
				var userID = sessionStorage.getItem("userID")
				console.log(userID)
			}
			
			function createCourse() {
				return
			}


		</script>

	</body>
</html>