<!DOCTYPE html>
<html>
<head>
	<title>Create Announcement</title>

	<link rel="stylesheet" href="canvasStyle.css">
</head>
	
	<body onload="loadUserID()">
		<div class="header">
			<h2>Create Announcement</h2>
			<hr>
		</div>

		<div class="flex-container">
			<div id="createAnnouncementForm">
				<form action="http://uchicago.edu" method="GET">
					<label for="announcement"><b>Annoucement:</b></label><br>
					<textarea rows = "4" cols = "40" name = "announcement">Input detail here</textarea><br>

				</form>
			</div>

				
			<div id="newAnnouncementtLink">
				<br><button onclick="createAnnouncement()">Create Announcement</button><br><br>

			</div>

			<a href="login.html">Log Out</a><br>
		</div>

		<script>

			function loadUserID() {
				var userID = sessionStorage.getItem("userID")
				console.log(userID)
			}
			
			function createAnnouncement() {
				return
			}


		</script>

	</body>
</html>