<!DOCTYPE html>
<html>
<head>
	<title>Edit Profile</title>

	<link rel="stylesheet" href="canvasStyle.css">

</head>
	
	<body onload="loadUserID()">
		<div class="header">
			<h2>Edit Profile</h2>
			<hr>
		</div>

		<div class="flex-container">
			<div id="editProfileForm">
				<form action="http://uchicago.edu" method="GET">
					<h3>Edit User Information</h3>
					<label for="firstName"><b>First Name:</b></label>
					<input type="text" id="firstName" name="firstName"><br>

					<label for="lastName"><b>Last Name:</b></label>
					<input type="text" id="lastName" name="lastName"><br>

					<label for="accountID"><b>Account ID:</b></label>
					<input type="text" id="accountID" name="accountID"><br>
				</form>

				<br><button onclick="editProfile()">Submit Changes</button><br>

			</div>

			<div id="changePassword">
				<form action="http://uchicago.edu" method="GET">

					<h3>Change Password</h3>

					<label for="currentPassword"><b>Current Password:</b></label>
					<input type="text" id="currentPassword" name="currentPassword"><br>

					<label for="password"><b>New Password:</b></label>
					<input type="text" id="password" name="password"><br>

					<label for="confirmPassword"><b>Confirm New Password:</b></label>
					<input type="text" id="confirmPassword" name="confirmPassword"><br><br>
				</form>

					<br><button onclick="changePassword()">Change Password</button><br>

			</div>

			<div id="securityQuestions">
				<form action="http://uchicago.edu" method="GET">
					<h3>Change Answers to Security Questions</h3>

					<label for="passwordSec"><b>Current Password:</b></label>
					<input type="text" id="passwordSec" name="passwordSec"><br><br>

					<label for="securityQuestion1"><b>New Question 1:</b></label>
					<input type="text" id="securityQuestion1" name="securityQuestion1"><br>

					<label for="securityAnswer1"><b>Your Answer:</b></label>
					<input type="text" id="securityAnswer1" name="securityAnswer1"><br><br>
					
					<label for="securityQuestion2"><b>New Question 2:</b></label>
					<input type="text" id="securityQuestion2" name="securityQuestion2"><br>
					
					<label for="securityAnswer2"><b>Your Answer:</b></label>
					<input type="text" id="securityAnswer2" name="securityAnswer2"><br><br>

					<label for="securityQuestion3"><b>New Question 3:</b></label>
					<input type="text" id="securityQuestion3" name="securityQuestion3"><br>

					<label for="securityAnswer3"><b>Your Answer:</b></label>
					<input type="text" id="securityAnswer3" name="securityAnswer3"><br><br>

				</form>

				<br><button onclick="changeSecurity()">Change Security Questions</button><br>
			</div>

			<a href="login.html">Log Out</a><br>
		</div>
		
		<script>

			function loadUserID() {
				var userID = sessionStorage.getItem("userID")
				console.log(userID)
			}
			
			function editProfile() {

				var idInput = document.getElementById("accountID").value;

				if (
					idValidate(idInput)
					) {
					console.log("TRUE")
				}

				return
			}

			function changePassword() {
				var passwordInput = document.getElementById("password").value;
				var passwordConfirm = document.getElementById("confirmPassword").value;
				
				// need to add: current password must be entered and be correct

				if (
					passwordValidate(passwordInput, passwordConfirm)
					) {
					console.log("TRUE")
				}

			}

			function changeSecurity() {

				// need to add: current password must be entered and be correct

				return
			}

			function idValidate(str) {
				var notNumList = /^[_!@#$%^&a-zA-Z]+$/;

				for (let i = 0; i < str.length; i++) {
				    if (str.charAt(i).match(notNumList)) {return false}
			    }
				return true
			}

			function passwordValidate(passwordInput, passwordConfirm) {

				var validated = true;
				var letter = /^[a-zA-Z]+$/;

				if (
					passwordInput.length < 5 ||
					numSymCount(passwordInput) === false ||
					passwordInput !== passwordConfirm
					) {validated = false}

				if (validated) {
					return true
				} else {
					return false
				}
			}

			function numSymCount(str) {
				var numberList = /^[0-9]+$/;
				var symbolList = /^[_!@#$%^&]+$/;
				var numCount = 0
				var symCount = 0

				for (let i = 0; i < str.length; i++) {
				    if (str.charAt(i).match(numberList)) {numCount++}
				    if (str.charAt(i).match(symbolList)) {symCount++}	
			    }
			    if (
			    	numCount < 1 ||
			    	symCount < 1 
		    	) {
			    	return false 
				  } else {return true}
			}

		</script>

	</body>
</html>