<!DOCTYPE html>
<html>
<head>
	<title>Forgot Password</title>

	<link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='canvasStyle.css')}}" />
</head>
	
	<body onload="loadUserID()">
	
		<div class="header">
			<h2>Forgot Password</h2>
			<hr>
		</div>

		<div class="flex-container">
			<div id="forgotPasswordForm">
				<div class="messages">
					{% with messages = get_flashed_messages() %}
					{% if messages %}
						<div class="notification is-danger">
							{{ messages[0] }}
						</div>
					{% endif %}
					{% endwith %}
				</div>
				<form method="POST">
					<b> {{ email }} </b>

					<br>
						{{ securityQuestions[0] }}
					<br>
						<b> 
							{{ form.securityAnswer1.label }}
						</b>
						{{ form.securityAnswer1 }}
					<br><br>
						{{ securityQuestions[1] }}
					<br>
						<b> 
							{{ form.securityAnswer2.label }}
						</b>
						{{ form.securityAnswer2 }}
					<br><br>
						{{ securityQuestions[2] }}
					<br>
						<b> 
							{{ form.securityAnswer3.label }}
						</b>
						{{ form.securityAnswer3 }}
					<br><br>
						{{ form.newPassword.label }}
					<br>
						{{ form.newPassword }}
					<br>
						{{ form.confNewPassword.label }}
					<br>
						{{ form.confNewPassword }}
					<br>
					<div style="display: block" id="submit button">
						{{ form.hidden_tag() }}
						{{ form.submit() }}
					</div>

				</form>
			</div>

				
			<div id="resetLink">
				<br><button onclick="resetPassword()">Reset Password</button><br><br>

			</div>

		</div>

		<script>

			function loadUserID() {
				var userID = sessionStorage.getItem("userID")
				console.log(userID)
			}

			function resetPassword() {
				var passwordInput = document.getElementById("password").value;
				var passwordConfirm = document.getElementById("confirmPassword").value;

				if (passwordValidate(passwordInput, passwordConfirm)
				) {
					console.log("TRUE")
				} else {
					console.log("FALSE")
				}
			}
				
			function passwordValidate(passwordInput, passwordConfirm) {


				var validated = true;
				var letter = /^[a-zA-Z]+$/;

				if (
					passwordInput.length < 5 ||
					numSymCount(passwordInput) === false ||
					passwordInput !== passwordConfirm
					) {validated = false}

				if (validated) {
					return true
				} else {
					return false
				}
			}

			function numSymCount(str) {
				var numberList = /^[0-9]+$/;
				var symbolList = /^[_!@#$%^&]+$/;
				var numCount = 0
				var symCount = 0

				for (let i = 0; i < str.length; i++) {
				    if (str.charAt(i).match(numberList)) {numCount++}
				    if (str.charAt(i).match(symbolList)) {symCount++}	
			    }
			    if (
			    	numCount < 1 ||
			    	symCount < 1 
		    	) {
			    	return false 
				  } else {return true}
			}

		</script>

	</body>
</html>