<!DOCTYPE html>
<html>
<head>
	<title>Student Dashboard</title>

	<link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='canvasStyle.css')}}" />

</head>
	
	<body onload="loadUserID()">
		<div class="header">
			<h2>Student Dashboard</h2>
			<hr>
		</div>
		
		<div class="flex-container">
			<div id="assignments">

				<p>To Do Assignments</p>
				
				<table id="tblToDo" border =solid>
					<thead>
						<tr>
							{% for header in headings %}
							<th>{{ header }}</th>
							{% endfor %}
						</tr>
					</thead>
					<tbody>
						{% for row in dataToDo %}
						<tr>
							{% for cell in row %}
							<td>{{ cell }}</td>
							{% endfor %}
						</tr>
						{% endfor %}
					</tbody>
				</table>

				<p>Upcoming Assignments</p>

				<table id="tblUpcoming" border =solid>
					<thead>
						<tr>
							{% for header in headings %}
							<th>{{ header }}</th>
							{% endfor %}
						</tr>
					</thead>
					<tbody>
						{% for row in dataUpcoming %}
						<tr>
							{% for cell in row %}
							<td>{{ cell }}</td>
							{% endfor %}
						</tr>
						{% endfor %}
					</tbody>
				</table>

				<p>Past Due Assignments</p>

					<table id="tblPastDue" border =solid>
						<thead>
							<tr>
								{% for header in headings %}
								<th>{{ header }}</th>
								{% endfor %}
							</tr>
						</thead>
						<tbody>
							{% for row in dataPastDue %}
							<tr>
								{% for cell in row %}
								<td>{{ cell }}</td>
								{% endfor %}
							</tr>
							{% endfor %}
						</tbody>
					</table>
			</div>

			<div id="accountLinks">
				<br>
				<a href="{{ url_for('editProfile') }}">Edit Profile</a><br>
				<a href="{{ url_for('courses') }}">Courses</a><br>
				<a href="{{ url_for('tempDash') }}"> Dashboard </a><br>
				<a href="{{ url_for('auth.logout') }}">Log Out</a><br>
			</div>
		</div>

		<script>

			function loadUserID() {
				var userID = sessionStorage.getItem("userID")
				console.log(userID)
			}

		</script>

	</body>
</html>