<!DOCTYPE html>
<html>
<head>
	<title>Temp Dashboard Nav</title>

	<link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='canvasStyle.css')}}" />

</head>
	
	<body onload="loadUserID()">
		<div class="header">
			<h1>Temp Dashboard Navigation</h1>
			<hr>
		</div>
			
		<div class="flex-container">
			<div id="dashboardLinks">
				<a href="{{ url_for('studentDash') }}">Student Dashboard</a><br>
				<a href="{{ url_for('teacherDash') }}">Teacher Dashboard</a><br>
				<a href="{{ url_for('adminDash') }}">Admin Dashboard</a><br>
			</div>
		</div>

		<script>

			function loadUserID() {
				var userID = sessionStorage.getItem("userID")
				console.log(userID)
			}

		</script>

	</body>
</html>